.container-form {
  align-items: center;
  background-color: #616161;
  display: flex;
  justify-content: center;
  margin: auto;
  max-height: 80vh;
  max-width: 80vw;
  padding: 20px;
}

.container-form-box {
  border: 3px solid #3c3c3c;
}

.container-form-header {
  margin: 24px 0 12px;
  text-align: center;
}

.svg_avatar {
  border-radius: 50%;
  width: 30%;
}

.container-form-main {
  padding: 16px;
  text-align: center;
}

.container-form-main-label1-input1, .container-form-main-label2-input1 {
  background-color: whitesmoke;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 800;
  margin: 8px 0;
  padding: 12px 20px;
  width: 100%;
}

.container-form-main-button1, .container-form-main-button2 {
  background-color: #1e8ac8;
  border: 3px solid#1e8ac8;
  border-radius: 5px;
  box-shadow: 0 2px 2px 0 black;
  color: whitesmoke;
  font-size: 15px;
  font-weight: 800;
  margin: 15px 12px;
  padding: 8px;
  transition-duration: 0.4s;
  width: 40%;
}

.container-form-main-button1:hover, .container-form-main-button2:hover {
  background-color: whitesmoke;
  color: black;
  transform: scale(1.1);
}

.disabled {
  cursor: not-allowed;
  opacity: 0.75;
}
