.container-form {
	background-color: #616161;
	max-height: 80vh;
	max-width: 80vw;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
}

.container-form-box {
	border: 3px solid #3c3c3c;
}

.container-form-header {
	text-align: center;
	margin: 24px 0 12px 0;
}

.svg_avatar {
	width: 30%;
	border-radius: 50%;
}

.container-form-main {
	padding: 16px;
	text-align: center;
}

.container-form-main-label1-input1,
.container-form-main-label2-input1 {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	border: 1px solid #ccc;
	background-color: whitesmoke;
	border-radius: 10px;
	font-size: 15px;
	font-weight: 800;
}

.container-form-main-button1,
.container-form-main-button2,
.disabled {
	background-color: #1e8ac8;
	cursor: pointer;
	border: 1px solid#000000;
	border-radius: 10px;
	box-shadow: 0 2px 2px 0 black;
	color: whitesmoke;
	font-size: 15px;
	font-weight: 800;
	margin: 15px 12px;
	padding: 8px;
	transition-duration: 0.4s;
	width: 40%;
}

.disabled {
	opacity: 0.75;
	cursor: not-allowed;
}
