* {
  box-sizing: border-box;
}

header {
  align-items: center;
  background-color: #1d5a41;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 0 4px 8px 0 rgb(92, 92, 92);
  display: flex;
  height: 150px;
  justify-content: space-around;
}

header > * {
  box-shadow: 0 4px 8px 0 black;
}

.player-img {
  border: 3px solid white;
  border-radius: 100%;
  margin: 0 60px;
  width: 100px;
}

.player-name {
  background-color: white;
  border-radius: 15px;
  color: #344e41;
  margin: 0 25px;
  padding: 13px 40px;
}

.player-score {
  background-color: white;
  border-radius: 12px;
  color: #344e41;
  margin: 5px;
  padding: 8px 25px;
  width: 210px;
}

.player-score span {
  font-weight: 800;
}
