.Ranking {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.title-container {
  align-items: center;
  background-color: #3c3c3c;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0 4px 8px 0 rgb(92, 92, 92);
  display: flex;
  flex-direction: column;
  height: 25%;
  justify-content: space-evenly;
  text-align: center;
  width: 90%;
}

.ranking-title {
  background-color: whitesmoke;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 black;
  font-size: 65px;
  padding: 3px 50px;
}

.home-button {
  background-color: #c5c7c3;
  border: 3px solid#c5c7c3;
  border-radius: 5px;
  box-shadow: 0 2px 2px 0 black;
  font-size: 17px;
  font-weight: 800;
  max-width: 150px;
  padding: 3px;
  transition-duration: 0.4s;
  width: 17%;
}

.home-button:hover {
  background-color: whitesmoke;
  color: black;
  transform: scale(1.1);
}

.ranking-container {
  align-items: center;
  background-color: #616161;
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgb(99, 97, 97);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  max-height: 70%;
  overflow-y: auto;
  padding: 10px;
  width: 80%;
}

.rank-card {
  align-items: center;
  background-color: whitesmoke;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 black;
  display: flex;
  justify-content: space-between;
  margin: 10px;
  width: 85%;
}

.rank-img {
  border-bottom-left-radius: 10px;
  border-right: 4px solid black;
  border-top-left-radius: 10px;
  height: 80px;
  width: 80px;
}

.rank-score {
  align-items: center;
  border-left: 4px solid black;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 80px;
}

::-webkit-scrollbar {
  margin-right: 10px;
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
  box-shadow: inset 0 0 5px grey;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3c3c3c;
}
