.Question {
  align-items: center;
  background-color: #616161;
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgb(99, 97, 97);
  display: flex;
  justify-content: center;
  margin: 50px auto;
  width: 70vw;
}

.question-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  padding: 10px;
  width: 50%;
}

.rotated-card-1 {
  background-color: whitesmoke;
  border-radius: 10px;
  box-shadow: 0 4px 4px 0 black;
  min-height: 70%;
  transform: rotate(2deg);
  width: 85%;
}

.rotated-card-2 {
  background-color: whitesmoke;
  border-radius: 10px;
  box-shadow: 0 4px 4px 0 black;
  height: 100%;
  transform: rotate(-4deg);
  width: 100%;
}

.question-card {
  background-color: whitesmoke;
  border-radius: 10px;
  box-shadow: 0 4px 4px 0 black;
  height: 100%;
  transform: rotate(2deg);
  width: 100%;
}

.category {
  border-bottom: 3px solid black;
  border-spacing: 20 px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 23px;
  height: 30%;
  padding: 10px;
  width: 100%;
}

.question {
  font-size: 20px;
  height: 70%;
  line-height: 30px;
  padding: 10px;
}

.vl {
  background-color: black;
  border-radius: 10px;
  height: 85%;
  width: 5px;
}

.buttons-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 5px;
  width: 50%;
}

.answer {
  background-color: #c5c7c3;
  border: 2px solid#c5c7c3;
  border-radius: 5px;
  color: #344e41;
  font-weight: 800;
  margin: 5px 12px;
  padding: 5px;
  transition-duration: 0.4s;
  width: 80%;
}

.answer:hover {
  background-color: #52b788;
  transform: scale(1.1);
}

.correct-answer {
  background-color: #1d5a41;
  border: 3px solid rgb(6, 240, 15);
  color: white;
}

.wrong-answer {
  background-color: rgb(102, 36, 30);
  border: 3px solid red;
  color: white;
}

.next-button {
  background-color: #c5c7c3;
  margin-top: 15px;
}

.timer {
  background-color: #c5c7c3;
  border-radius: 10px;
  margin-bottom: 18px;
  margin-top: 6px;
  padding: 5px;
  width: 35px;
}
