.Question {
	align-items: center;
	background-color: #616161;
	border-radius: 25px;
	box-shadow: 0 4px 8px 0 rgb(99, 97, 97);
	display: flex;
	height: calc(100vh - 150px - 50px - 50px);
	justify-content: center;
	margin: 50px auto;
	width: 70vw;
}

.question-container {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
	padding: 10px;
	width: 60%;
}

.rotated-card-1 {
	background-color: whitesmoke;
	border-radius: 10px;
	box-shadow: 0 4px 4px 0 black;
	margin: auto;
	min-height: 75%;
	transform: rotate(2deg);
	width: 85%;
}

.rotated-card-2 {
	background-color: whitesmoke;
	border-radius: 10px;
	box-shadow: 0 4px 4px 0 black;
	height: 100%;
	transform: rotate(-4deg);
	width: 100%;
}

.question-card {
	background-color: whitesmoke;
	border-radius: 10px;
	box-shadow: 0 4px 4px 2px black;
	height: 100%;
	transform: rotate(2deg);
	width: 100%;
}

.question-card > * {
	align-items: center;
	display: flex;
	justify-content: center;
}

.category {
	background-color: #c9c9c9;
	border-bottom: 3px solid black;
	border-spacing: 20 px;
	border-top: 1px solid #b4b4b4;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	font-size: 30px;
	font-weight: 800;
	height: 25%;
	padding: 18px 10px;
	width: 100%;
}

.question {
	font-size: 24px;
	height: 75%;
	line-height: 30px;
	padding: 10px 20px;
}

.timer {
	background-color: #c5c7c3;
	border-radius: 10px;
	box-shadow: 0 4px 4px 0 black;
	font-size: 20px;
	font-weight: 800;
	margin: auto;
	padding: 15px;
	text-align: center;
	transition-duration: 0.4s;
	width: 80px;
}

.timer-ending {
	color: rgb(219, 31, 31);
	font-size: 30px;
	padding: 10px;
}

.vl {
	background-color: black;
	border-radius: 10px;
	height: 85%;
	width: 5px;
}

.buttons-container {
	align-items: center;
	display: flex;
	flex-direction: column;
	padding: 5px;
	width: 40%;
}

.answer {
	background-color: #1e8ac8;
	border: 3px solid#1e8ac8;
	border-radius: 5px;
	box-shadow: 0 2px 2px 0 black;
	color: whitesmoke;
	font-size: 15px;
	font-weight: 800;
	margin: 15px 12px;
	padding: 8px;
	transition-duration: 0.4s;
	width: 80%;
}

.answer:hover {
	background-color: whitesmoke;
	color: black;
	transform: scale(1.1);
}

.correct-answer {
	background-color: #1d5a41;
	border: 3px solid rgb(6, 240, 15);
	color: white;
	cursor: not-allowed;
	opacity: 0.3;
}

.correct-answer:hover {
	transform: scale(1);
}

.wrong-answer {
	background-color: rgb(102, 36, 30);
	border: 3px solid red;
	color: white;
	cursor: not-allowed;
	opacity: 0.3;
}

.wrong-answer:hover {
	transform: scale(1);
}

.selected-answer {
	opacity: 1;
}

.next-button {
	background-color: #c5c7c3;
	border: 3px solid#c5c7c3;
	border-radius: 5px;
	box-shadow: 0 2px 2px 0 black;
	font-size: 15px;
	font-weight: 800;
	margin: 15px 12px;
	padding: 8px;
	transition-duration: 0.4s;
	width: 30%;
}

.next-button:hover {
	background-color: whitesmoke;
	color: black;
	transform: scale(1.1);
}
